* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #add8e6;
}

.road {
    background: grey;
    position: absolute;
    height: 50px;
    width: 300vh;
    margin: 0;
    overflow: hidden;
    bottom: 100px;
    left: -20px
}
