* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #0096c7;
}

.road {
    background: grey;
    position: absolute;
    height: 100px;
    width: 300vh;
    margin: 0;
    overflow: hidden;
    bottom: 150px;
    left: -20px
}

.grass1 {
    background: green;
    position: absolute;
    height: 150px;
    width: 300vh;
    bottom: 0px;
    left: -20px;
}

.grass2 {
    background: green;
    position: absolute;
    height: 50px;
    width: 300vh;
    bottom: 250px;
    left: -20px;
}

.yellowLine {
    background: yellow;
    position: absolute;
    height: 10px;
    width: 300vh;
    bottom: 200px;
    left: -20px;
}
