
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(20deg, purple, pink, white, purple, pink, white, purple, pink, white, purple, pink, white);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}
